nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 1.5rem;
}

nav span {
    color: rgba(250, 150, 4, 0.73);
    font-weight: bold;
    font-size: 25px;
    margin-left: 10%;
}

nav div {
    display: flex;
    margin-right: 10%;
    align-items: center;
}

a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

a:hover{
  color: rgb(136, 136, 136);
} 

nav div h3 {
    margin-left: 50px;
    font-weight: 200;
}

.themeButton {
    margin-left: 2rem;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 0.5px solid grey;
    border-radius: 8px;
    cursor: pointer;
}