.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 16px;
  align-items: center;
}

.labels {
  margin: 16px 0 4px 0;
  color: green;
  font-weight: 500;
}


.submitButton{
  background-color: greenyellow;
  padding: 4px 8px;
  width: 140px;
  border-radius: 4px;
  border-color: green;
  margin-top: 16px;
}

.alertMessage{
  color: darkred;
  font-weight: 500;
  font-size: 16px;
}
